<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
  	<servlet-name>board</servlet-name>
  	<servlet-class>my.board.server.BoardServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>board</servlet-name>
  	<url-pattern>/board/board</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Board.html</welcome-file>
  </welcome-file-list>

</web-app>
